<div class="row branding">
  <div class="small-6 small-centered columns">
    <% #image_tag("logo.png") %>
    <h1>Laborshare</h1>
    <h3>Share Household Work Equitably</h3>
  </div>
</div>

<div class="row details">
  <div class="list large-8 columns">
    <ul>
      <li>
        <h3>Identify chores together.</h3>
        <p>Make all of that invisible work, visible.</p>
      </li>
      <li>
        <h3>Rate how much you like doing them.</h3>
        <p>Folding laundry, yuck! Cooking, fun!</p>
      </li>
      <li>
        <h3>Lulu the Laborshare robot assigns chores.</h3>
        <p>Using fancy math, Lulu decides the optimal chore assignments
based on everyone’s ratings and time. Good dog!</p>
      </li>

  </div>
  <div class="tryit large-3 columns">
    <%= image_tag("lula.png") %>
    <a href="<%=new_household_registration_path%>" class="button radius">Try it</a>
  </div>

</div>

<% if household_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_household_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_household_session_path)  %>
  </li>
<% end %>

